@font-face {
  font-family: myFirstFont;
  src: url(./components/Assets/font/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}
*{
  font-family: myFirstFont;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-bootom{
  border-bottom:1px solid #ccc;
}